<aside class="sidebar">
  <span class="sidebar__icon-close" onclick="toggleSidebar()">
    <%- include('../kit/link/link.ejs', { text: '<i class="fas fa-times"></i>' }) %>
  </span>

  <ul class="sidebar__langs">
    <% for(var i = 0; i < locals.langs.length; i ++) { %>
      <li class="langs__item">
        <%- include('../kit/link/link.ejs', { text: locals.langs[i] }) %>
      </li>
    <% } %>
  </ul>

  <div class="sidebar__about-label">
    <%- include('../kit/link/link.ejs', { text: 'пра праект'}) %>
  </div>

  <section class="sidebar__section sidebar__section--short">
    <ul class="sidebar__section-list">
      <% ['Спасылкі', 'Для кароткага', 'Сайдбара'].forEach(function(label) { %>
        <li class="sidebar__section-list-item">
          <%- include('../kit/link/link.ejs', { text: label }) %>
        </li>
      <% }) %>
    </ul>
  </section>

  <section class="sidebar__section sidebar__section--long sidebar__section--visible">
    <ul class="sidebar__section-list">
      <% ['Топ-10', 'Самае актуальнае', '&lt5 хвілін на прагляд'].forEach(function(label) { %>
        <li class="sidebar__section-list-item">
          <%- include('../kit/link/link.ejs', { text: label }) %>
        </li>
      <% }) %>
    </ul>
  </section>

  <section class="sidebar__section sidebar__section--long sidebar__section--visible">
    <ul class="sidebar__section-list">
      <% ['Артыкулы', 'Відэалекцыі', 'Падкасты', 'Гульні і тэсты'].forEach(function(label) { %>
        <li class="sidebar__section-list-item">
          <%- include('../kit/link/link.ejs', { text: label }) %>
        </li>
      <% }) %>
    </ul>
  </section>

  <section class="sidebar__section sidebar__section--long sidebar__section--visible">
    <ul class="sidebar__section-list">
      <li class="sidebar__section-list-item sidebar__section-title">
        тэмы
      </li>
      <% for(var i = 0; i < locals.topics.length; i ++) { %>
        <li class="sidebar__section-list-item">
          <%- include('../kit/link/link.ejs', { text: locals.topics[i] }) %>
        </li>
      <% } %>
    </ul>
  </section>

  <section class="sidebar__section sidebar__section--long sidebar__section--visible">
    <ul class="sidebar__section-list">
      <li class="sidebar__section-list-item sidebar__section-title">
        асноўныя асобы
      </li>
      <% for(var i = 0; i < locals.persons.length; i ++) { %>
        <li class="sidebar__section-list-item">
          <%- include('../kit/link/link.ejs', { text: locals.persons[i] }) %>
        </li>
      <% } %>
    </ul>
    <span class="sidebar__section-link-to-all">
      <%- include('../kit/link/link.ejs', { text: 'усе асобы' }) %>
    </span>
  </section>

  <section class="sidebar__section sidebar__section--long sidebar__section--visible">
    <ul class="sidebar__section-list">
      <li class="sidebar__section-list-item sidebar__section-title">
        асноўныя часы
      </li>
      <% for(var i = 0; i < locals.times.length; i ++) { %>
        <li class="sidebar__section-list-item">
          <%- include('../kit/link/link.ejs', { text: locals.times[i] }) %>
        </li>
      <% } %>
    </ul>
    <span class="sidebar__section-link-to-all">
      <%- include('../kit/link/link.ejs', { text: 'уся храналогія' }) %>
    </span>
  </section>

  <section class="sidebar__section sidebar__section--long sidebar__section--visible">
    <ul class="sidebar__section-list">
      <li class="sidebar__section-list-item sidebar__section-title">
        асноўныя лакацыі
      </li>
      <% for(var i = 0; i < locals.locations.length; i ++) { %>
        <li class="sidebar__section-list-item">
          <%- include('../kit/link/link.ejs', { text: locals.locations[i] }) %>
        </li>
      <% } %>
    </ul>
    <span class="sidebar__section-link-to-all">
      <%- include('../kit/link/link.ejs', { text: 'усе лакацыі' }) %>
    </span>
  </section>

  <section class="sidebar__section sidebar__section--long sidebar__section--visible">
    <ul class="sidebar__section-list">
      <li class="sidebar__section-list-item sidebar__section-title">
        матэрыялы партнёраў
      </li>
      <% for(var i = 0; i < locals.partners.length; i ++) { %>
        <li class="sidebar__section-list-item">
          <%- include('../kit/link/link.ejs', { text: locals.partners[i] }) %>
        </li>
      <% } %>
    </ul>
  </section>

  <section class="sidebar__section sidebar__section--long sidebar__section--visible">
    <ul class="sidebar__section-list">
      <li class="sidebar__section-list-item sidebar__section-title">
        папулярныя аўтары
      </li>
      <% for(var i = 0; i < locals.authors.length; i ++) { %>
        <li class="sidebar__section-list-item">
          <%- include('../kit/link/link.ejs', { text: locals.authors[i] }) %>
        </li>
      <% } %>
    </ul>
    <span class="sidebar__section-link-to-all">
      <%- include('../kit/link/link.ejs', { text: 'уся каманда wir.by' }) %>
    </span>
  </section>
</aside>
