<aside class="sidebar">
  <span class="icon is-pulled-right">
    <i class="fa fa-times"></i>
  </span>

  <ul class="langs">
    <% for(var i = 0; i < locals.langs.length; i ++) { %>
      <li class="langs__item">
          <a><%= locals.langs[i] %></a>
      </li>
   <% } %>
  </ul>

  <%- include('../kit/link/link.ejs', { rightIcon: 'user', text: 'аб праекце', class: 'about'}) %>

  <div class="divider"></div>

  <%- include('../kit/input/input.ejs', { leftIcon: 'search' }) %>

  <section class="section">
    <ul class="section__list">
      <li class="section__list-item"><a>Топ-10</a></li>
      <li class="section__list-item"><a>Самае актуальнае</a></li>
      <li class="section__list-item"><a>&lt5 хвілін на прагляд</a></li>
    </ul>
  </section>

  <div class="divider"></div>

  <section class="section">
    <ul class="section__list">
      <li class="section__list-item"><a>Артыкулы</a></li>
      <li class="section__list-item"><a>Відэалекцыі</a></li>
      <li class="section__list-item"><a>падкасты</a></li>
      <li class="section__list-item"><a>гульні і тэсты</a></li>
    </ul>
  </section>

  <div class="divider"></div>

  <section class="section">
    <div class="section__title">
      тэмы
    </div>
    <ul class="section__list">
        <% for(var i = 0; i < locals.topics.length; i ++) { %>
          <li class="section__list-item"><a><%= locals.topics[i] %></a></li>
       <% } %>
    </ul>
  </section>

  <div class="divider"></div>

  <section class="section">
    <div class="section__title">
      асноўныя персаналіі
    </div>
    <ul class="section__list">
        <% for(var i = 0; i < locals.persons.length; i ++) { %>
          <li class="section__list-item"><a><%= locals.persons[i] %></a></li>
       <% } %>
    </ul>
    <span class="section__link-to-all"><a>усе персаналіі</a></span>
  </section>

  <div class="divider"></div>

  <section class="section">
    <div class="section__title">
      асноўныя часы
    </div>
    <ul class="section__list">
        <% for(var i = 0; i < locals.times.length; i ++) { %>
          <li class="section__list-item"><a><%= locals.times[i] %></a></li>
       <% } %>
    </ul>
    <span class="section__link-to-all"><a>уся храналогія</a></span>
  </section>

  <div class="divider"></div>

  <section class="section">
    <div class="section__title">
      асноўныя лакацыі
    </div>
    <ul class="section__list">
        <% for(var i = 0; i < locals.locations.length; i ++) { %>
          <li class="section__list-item"><a><%= locals.locations[i] %></a></li>
       <% } %>
    </ul>
    <span class="section__link-to-all"><a>усе лакацыі</a></span>
  </section>

  <div class="divider"></div>

  <section class="section">
    <div class="section__title">
      матэрыялы партнераў
    </div>
    <ul class="section__list">
        <% for(var i = 0; i < locals.partners.length; i ++) { %>
          <li class="section__list-item"><a><%= locals.partners[i] %></a></li>
       <% } %>
    </ul>
  </section>

  <div class="divider"></div>

  <section class="section">
    <div class="section__title">
      папулярныя аўтары
    </div>
    <ul class="section__list">
        <% for(var i = 0; i < locals.authors.length; i ++) { %>
          <li class="section__list-item"><a><%= locals.authors[i] %></a></li>
       <% } %>
    </ul>
    <span class="section__link-to-all"><a>уся каманда wir.by</a></span>
  </section>
</aside>
