<div class="tile is-parent">
  <article
    class="card tile is-child is-flex <% if (locals.isUnpublished) { %> with-opacity <% } %>"
    <% if (locals.isUnpublished) { %> title="Гэты артыкул яшчэ не апублікаваны" <% } %>
  >
    <div class="card-image">
      <figure class="image <%= locals.photoClassVar %>">
        <img src="<%= locals.imagesPath %>/<%= locals.photoVar %>" />
      </figure>
      <% if (locals.specialHeadingNameVar) { %>
        <div class="media special-heading is-pulled-right">
          <div class="media-left">
            <% if (locals.specialHeadingHandmadeVar) { %>
              <div class="media-left">
                <div class="handmade">
                  <%= locals.specialHeadingHandmadeVar %>
                </div>
              </div>
            <% } else { %>
              <figure class="image is-32x32">
                <img src="<%= locals.imagesPath %>/<%= locals.specialHeadingPhotoVar %>" />
              </figure>
            <% } %>
          </div>
          <div class="media-content">
            <span class="subtitle is-6">
              <%= locals.specialHeadingNameVar %></span>
          </div>
        </div>
      <% } %>
      <div class="actions">
        <i class="fa fa-pencil fa-lg"></i>
      </div>
      <% if (locals.isVideoArticle) { %>
        <a href="../article-page/article-page.html" class="video-article"><i class="fa fa-play"></i></a>
      <% } %>
    </div>
    <div class="card-content is-video-article ">
      <span class="title">
        <a href="../article-page/article-page.html"><%= locals.titleVar %></a>
      </span>
      <p class="subtitle">
        <%= locals.subtitleVar %>
      </p>
      <div class="level tile-footer is-mobile">
        <div class="level-left">
          <% if (locals.authorVar) { %>
            <img src="<%= locals.imagesPath %>/<%= locals.authorPhotoVar %>" />
            <div class="author-name">
              <span><%= locals.authorVar %></span>
            </div>
          <% } %>
        </div>
        <% if (locals.isUnpublished) { %>
          <% if (locals.isDraft) { %>
            <div class="level-right publication-not-scheduled">Публікацыя не запланавана</div>
          <% } else { %>
            <div class="level-right publication-scheduled">праз 3 дні</div>
          <% } %>
        <% } %>
      </div>
    </div>
  </article>
</div>
