<!DOCTYPE html>
<html lang="en">
<% var title = 'Login Page' %>
<% include ../head/head.ejs %>
<body>

<% include ../navbar/navbar.ejs %>

<div class="article-page page-container">

    <div class="page-content">
        <div class="card-image">
            <figure class="image is-3by1">
                <img src="<%= imagesPath %>/photo8.jpg" />
            </figure>
        </div>

        <div class="card-content">
            <div class="heading">
                "Гэта ня тое як склеіць разьбіты кубак..."
            </div>

            <div class="author">
                <strong>Аўтар:</strong>
                <a href="">Яўген Дадуць</a>
            </div>

            <div class="tags">
                <a href="">#паэзія</a>
                <a href=""> #морт</a>
            </div>
            <hr />

            <div class="text">
                – Вы доўгі час жывяце не ў Беларусі. Як асэнсоўваеце краіну ў новых творах?
                – Для мяне Беларусь пашыраецца не ўшыр, а ўглыб. У маёй новай кнізе вершы пабудаваныя вакол вобраза
                дрэва,
                якое расце з крыві, касцей, чалавечыны і нашай зямлі. Дрэва расце ўгару, размаўляе з намі лісцем шэптам,
                які
                нарадзіўся раней за вусны. Мне цікавы шэпт нашых мёртвых, нашых прывідаў. Гэта Беларусь невербалізаваных
                жыццяў, якія не хочуць знікнуць і маўчаць, каб мы іх пачулі.
                – Што здарылася з вашымі кнігамі ў перыяд з 2005 па 2017?
                – Паміж 2005 і 2017 у мяне выйшлі кніжкі ў ЗША, Нямеччыне і Швецыі. У «Эпідэміі ружаў» ёсць вершы з
                гэтых
                кніжак, і трэць з іх – новыя. У першую чаргу паэт – гэта вушы і вочы. Я ўважліва сачу за прывідамі,
                слухаю
                сваіх мёртвых. Яны жывуць сярод нас. Іх прысутнасць можна пабачыць на нашых тварах.
                – Мёртвыя – гэта продкі або гэта нейкая метафара?
                – Я не бачу розніцы паміж рэальнасцю і метафарай. Літаратура змешвае памяць і ўяўленне так, што
                немагчыма
                адрозніць адно ад аднаго. У нашай прыродзе так і ёсць: памяць не можа існаваць без уяўлення, а ўяўленне
                не
                можа існаваць без памяці. Гэтыя два паняцці існуюць разам.
                Разам яны шукаюць нейкую форму: літаратурную, музычную, кінематаграфічную. Тут няма розніцы. Наогул
                паэзію і
                літаратуру я бачу як навуку. Біялогія чалавека, анатомія чалавека і літаратурная метафара існуюць для
                мяне ў
                адной прасторы.
                Метафара – гэта не гуманітарная абстракцыя, а элемент навуковага падыходу да свету. Гэта жаданне знайсці
                матэматычную або фізічную формулу, з дапамогай якой мы скажам: «Я – гэта ты», «Ты – гэта кніга», «Кніга
                –
                гэта паліца кніг», «Паліца – гэта дрэва, з якой яна зроблена, а дрэва – гэта я». Мы ўсе звязаныя адной
                формулай: розныя рэчы ствараюць асобную прастору, дзе яны могуць быць адным, застаючыся пры гэтым сабою.
                <hr />
            </div>
        </div>

        <div class="articles-links">
            <div class="more-articles-text">Чытайце таксама:</div>

            <!-- TODO(uladbohdan): TO FIX. -->

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="card tile is-child">
                        <div class="author-top"></div>
                        <span class="title">
                            <a href="../article-page/article-page.html">Крама "як з крамы"</a>
                        </span>
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="<%= imagesPath %>/photo2.jpg" />
                            </figure>
                        </div>
                        <p class="subtitle subtext">Новы альбом: як, дзе і для каго. Учора Крама прадставіла новы альбом, а мы вам пра яго распавядзем. Назва новага альбома - "Крама". Яго...</p>
                        <div class="author">
                          <img src="<%= imagesPath %>/vajc.jpg"/>
                          <div class="name">
                              <span>Змітр Корнеў</span>
                          </div>
                        </div>
                    </article>
                </div>

                <div class="tile is-parent">
                    <article class="card tile is-child">
                        <div class="author-top"></div>
                        <span class="title">
                            <a href="../article-page/article-page.html">"Гэта ня тое як склеіць разьбіты кубак..."</a>
                        </span>
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="<%= imagesPath %>/photo3.jpg" />
                            </figure>
                        </div>
                        <p class="subtitle subtext">Вальжына Морт пра адносіны з сусветам</p>
                        <div class="author">
                        <img src="<%= imagesPath %>/mort.jpg"/>
                            <div class="name">
                                <span>Вальжына Морт</span>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="tile is-parent">
                    <article class="card tile is-child">
                        <div class="author-top"></div>
                        <span class="title">
                            <a href="../article-page/article-page.html">Некоратка аб Ахматавай</a>
                        </span>
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <img src="<%= imagesPath %>/photo5.jpg" />
                            </figure>
                        </div>
                        <p class="subtitle subtext">"Настоящую нежность не спутаешь ни с чем..."</p>
                        <div class="author">
                            <img src="<%= imagesPath %>/mort.jpg"/>
                            <div class="name">
                                <span>Вальжына Морт</span>
                            </div>
                      </div>
                    </article>
                </div>

                <div class="tile is-parent">
                    <article class="card tile is-child">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <img src="<%= imagesPath %>/photo4.jpg" />
                            </figure>
                            <div class="media special-heading is-pulled-right">
                                <div class="media-left">
                                    <figure class="image is-32x32">
                                        <img src="<%= imagesPath %>/kurilka_icon.png" />
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <span class="subtitle is-6">Курылка Гутэнберга</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="title is-spaced">
                                <a href="../article-page/article-page.html">Культура і псіхалогія</a>
                            </span>
                            <p class="subtitle">
                                Выкладчык з ЕГУ распавядзе пра складаны лёс выкладчыка з ЕГУ. Хацеў бы ён выкладаць у БДУ замест таго!..
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../footer/footer.ejs %>

</body>
</html>
