<!DOCTYPE html>
<html lang="be">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117143376-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117143376-2');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#1a9582" />
    <meta name="yandex-verification" content="971725770dd3b2a0" />
    <title>Wir.by - Асветніцкая пляцоўка</title>
    <link rel="stylesheet" href="<%= bundlePath %>" />
    <link rel="stylesheet" href="<%= assetsPath %>" />
    <link rel="icon" type="image/png" href="<%= imagesPath %>/logo/favicon-colored.png" />
</head>

<!-- The <head> is copied rather than linked to head/head.ejs due to Google Analytics code
which we do not want to embed to every markdown page.
TODO: to disable Google Analytics in development *completely*. -->

<body>

<div class="stub-page in-development-stub">

    <img class="logo" src="<%= imagesPath %>/logo/turq-transparent.png" />

    <div class="title">
        Асветніцкая пляцоўка Wir.by
    </div>

    <br />

    <div class="highlight">
        Вір — асветніцкая пляцоўка пра беларускую і сусветную культуру з артыкуламі, лекцыямі даследчыкаў, гульнямі і спецпраектамі.
    </div>

    <br />

    <div class="social-weekend">
        <a href="http://www.socialweekend.by/sw12" target="_blank">
            <img src="<%= imagesPath %>/references/social-weekend-logo.svg" />
        </a>

        <div class="text">
            <b>Мы прайшлі ў чвэрцьфінал!</b> <br />
            Мы ўдзячныя вам за дапамогу і прапануем спампаваць нашыя крутыя стыкеры<br />

            <a class="sent" href="https://t.me/addstickers/skarynawirby" target="_blank">
                Усталяваць стыкеры
            </a>
        </div>
    </div>

    <br />

    <div class="subtitle">
        Звяжыцеся з намі / Contact us: <a href="mailto:help@wir.by"><u>help@wir.by</u></a>
    </div>

    <div class="project-description">

        <h1>Што мы робім?</h1>

        Асветніцкую анлайн-пляцоўку, дзе будуць размяшчацца лекцыі навукоўцаў і даследчыкаў, артыкулы, спецпраекты і інтэрактывы.
        Тэматыка: літаратура, кіно, тэатр, музыка, гісторыя, лінгвістыка, архітэктура. Колькасны акцэнт робіцца на беларускай культуры, але мы таксама распавядаем пра культуру сусветную.

        <br />

        Мяркуем, што ў нашай прасторы пакуль няма падобных праектаў.

        <h1>А навошта?</h1>

        Каб чалавек, што чытае Wir, ведаў, хто такія беларусы і якія набыткі ў галіне культуры яны маюць.

        <h1>Якія праблемы вырашаем</h1>

        <ul>
            <li>
                Для беларусаў па-ранейшаму актуальны пошук ідэнтычнасці. Не зусім вырашаным застаецца не толькі пытанне “хто ты гэткі?”, але не менш істотная праблема — “што мы маем?”.
            </li>
            <li>
                Не хапае надзейных i цiкавых асветніцкіх анлайн-пляцовак, якія б распавядалі пра беларускую культуру ўпоравень з сусветнай.
            </li>
            <li>
                Большасць асветніцкіх і адукацыйных мерапрыемстваў адбываецца ў Мінску, рэгіёны выключаныя з культурнага жыцця.
            </li>
            <li>
                Беларуская культура нярэдка ўспрымаецца ізалявана ад сусветнага і еўрапейскага кантэксту. Мы хочам гэта змяніць.
            </li>
        </ul>

        <h1>Ці нешта падобнае ўжо ёсць?</h1>

        У свеце - так:  <a href="https://arzamas.academy/">arzamas.academy</a>,
        <a href="https://postnauka.ru/">postnauka.ru</a>, <a href="https://www.ted.com/">ted.com</a> <br />
        Мяркуем, што ў Беларусі пакуль няма падобных праектаў.

        <h1>Што ўжо ёсць?</h1>

        <ul>
            <li>
                Каманда.
            </li>
            <li>
                Чатыры цыклы адзнятых лекцый (13 лекцый).
            </li>
            <li>
                Дамоўленасці з лектарамі на здымкі новых лекцый.
            </li>
            <li>
                29 артыкулаў.
            </li>
            <li>
                На дадзены момант пішуцца новыя артыкулы, у праект запрашаюцца новыя аўтары.
            </li>
            <li>
                Матэрыялы для спецпраектаў і інтэрактываў.
            </li>
            <li>
                Пляцоўка для здымак лекцый — кнігарня <a href="http://shafa-minsk.by/">"Кніжная Шафа"</a>.
            </li>
            <li>
                Дамоўленасці з іншымі пляцоўкамі для далейшага супрацоўніцтва  ("Масаракш", "Мінскі фестываль моў", некаторыя мінскія музеі)
            </li>
            <li>
                Сайт у працэсе распрацоўкі.
            </li>
            <li>
                Сацыяльныя сеткі праекта.
            </li>
        </ul>

        <h1>Каманда праекта</h1>

        <div class="team">
            <div class="title">
                Каманда
            </div>
            <div class="columns is-centered is-desktop">
                <div class="column">
                    <div class="columns">
                        <%- include('../about/teammate.ejs', { idx: 0 }) %>
                        <%- include('./teammate.ejs', { idx: 1 }) %>
                        <%- include('./teammate.ejs', { idx: 2 }) %>
                    </div>
                </div>
                <div class="column">
                    <div class="columns">
                        <%- include('./teammate.ejs', { idx: 3 }) %>
                        <%- include('./teammate.ejs', { idx: 4 }) %>
                        <%- include('./teammate.ejs', { idx: 5 }) %>
                    </div>
                </div>
            </div>
            <div class="columns is-centered is-desktop">
                <div class="column">
                    <div class="columns">
                        <%- include('./teammate.ejs', { idx: 6 }) %>
                        <%- include('./teammate.ejs', { idx: 7 }) %>
                        <%- include('./teammate.ejs', { idx: 8 }) %>
                    </div>
                </div>
                <div class="column">
                    <div class="columns">
                        <%- include('./teammate.ejs', { idx: 9 }) %>
                        <%- include('./teammate.ejs', { idx: 10 }) %>
                        <%- include('./teammate.ejs', { idx: 11 }) %>
                    </div>
                </div>
            </div>
            <div class="columns is-centered is-desktop">
                <div class="column">
                    <div class="columns">
                        <div class="column is-4"></div>
                        <%- include('./teammate.ejs', { idx: 12 }) %>
                        <%- include('./teammate.ejs', { idx: 13 }) %>
                    </div>
                </div>
                <div class="column">
                    <div class="columns">
                        <%- include('./teammate.ejs', { idx: 14 }) %>
                        <%- include('./teammate.ejs', { idx: 15 }) %>
                        <div class="column is-4"></div>
                    </div>
                </div>
            </div>
            <div class="thanks">
                Выражаем падзяку <b>Ганне Бучко</b> (лагатып) і <b>Даніілу Пячэнка</b> (саўндтрэк да лекцый).
            </div>
        </div>

        <h1>Нас падтрымліваюць</h1>

        <div class="columns">
            <div class="column">
                <a href="http://shafa-minsk.by/" target="_blank">
                    <img src="<%= imagesPath %>/references/shafa_logo.jpg" />
                </a>
            </div>
            <div class="column">
                <a href="http://www.artmuseum.by/by/" target="_blank">
                    <img src="<%= imagesPath %>/references/mastacki_logo.jpg" />
                </a>
            </div>
            <div class="column">
                <a href="http://minsklingfest.by/" target="_blank">
                    <img src="<%= imagesPath %>/references/festyval_mou_logo.jpg" />
                </a>
            </div>
            <div class="column">
                <a href="https://vk.com/massaraksh_minsk" target="_blank">
                    <img src="<%= imagesPath %>/references/masaraksh_logo.jpg" />
                </a>
            </div>
        </div>

        <h1>Планы на бліжэйшы час</h1>

        <ul>
            <li>
                Запусціць сайт да канца 2018 года.
            </li>
            <li>
                Ствараць новыя артыкулы, а таксама займацца іх рэдактурай, ілюстрацыяй і перакладам.
            </li>
            <li>
                Працаваць над ілюстрацыяй гатовых артыкулаў.
            </li>
            <li>
                Наладзіць супрацоўніцтва з Нацыянальным мастацкім музеем.
            </li>
            <li>
                Зрабіць застаўку для відэалекцый і скончыць мантаж ужо адзнятых відэалекцый.
            </li>
            <li>
                Адзняць новыя відэалекцыі (2-3 цыклы).
            </li>
        </ul>

        <h1>Прыкладны бюджэт</h1>

        <table class="table is-striped is-hoverable">
            <tbody>
                <tr>
                    <td>
                        Дамен і хосцінг сайта
                    </td>
                    <td>
                        450 руб.
                    </td>
                </tr>
                <tr>
                    <td>
                        Абсталяванне для запісу відэалекцый і падкастаў
                    </td>
                    <td>
                        4000 руб.
                    </td>
                </tr>
                <tr>
                    <td>
                        Якасная застаўка і ўзорны мантаж некалькіх відэалекцый,<br />
                        на якія б маглі арыентавацца пасля мантажоры Wir.
                    </td>
                    <td>
                        1000 руб.
                    </td>
                </tr>
                <tr>
                    <td>
                        Сімвалічныя ўзнагароды лектарам
                    </td>
                    <td>
                        500 руб.
                    </td>
                </tr>
                <tr>
                    <td>
                        Рэклама ў сацсетках: 200 бел. руб.
                    </td>
                    <td>
                        200  руб.
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Усяго:</b>
                    </td>
                    <td>
                        6150 руб.
                    </td>
                </tr>
            </tbody>
        </table>

        <h1>Планы на бліжэйшы час</h1>

        <ul>
            <li>
                Рабіць і апрацоўваць новыя відэалекцыі і падкасты.
            </li>
            <li>
                Штотыдзень выкладаць на сайт мінімум два артыкулы і мінімум адну лекцыю (відэа альбо падкаст).
            </li>
            <li>
                Запрашаць у праект новых лектараў і аўтараў.
            </li>
            <li>
                Рабіць гульні і спецпраекты.
            </li>
            <li>
                Часам выходзіць у афлайн: ладзіць адкрытыя лекцыі і рознага кшталту мерапрыемствы.
            </li>
            <li>
                Займець свой мерч (кубкі і цішоткі).
            </li>
        </ul>

    </div>

</div>

</body>
</html>
