<!DOCTYPE html>
<html lang="be">
<% var title = 'Пра нас' %>
<% include ../head/head.ejs %>
<body>
<% include ../navbar/navbar.ejs %>

<div class="about-container">
    <div class="title">
        Wir.by - Адукацыйная платформа
    </div>
    <div class="goal">
        Папулярызацыя культуры ў прынцыпе і беларускай культуры ў прыватнасці ў досыць зручным у сучасных умовах фармаце з дапамогай людзей, прафесійная дзейнасць якіх звязаная непасрэдна з даследаваннем і вывучэннем культуры.
        <div class="talaka">
            <span class="talaka-text">Мы на</span>
            <a class="talaka" href="https://www.talaka.org/projects/2495/overview">
                <img class="talaka-text" src="<%= imagesPath %>/talaka_logo.png" width="30"/>
                <span class="talaka-text">Талацэ</span>
            </a>
        </div>
    </div>
    <hr />
    <div class="helpus">
        <div class="title">
            Далучыцца да праекта
        </div>
        Нам патрэбныя:
        <div class="positions is-centered">
            <div class="position">
                Аўтары артыкулаў
            </div>
            <div class="position">
                Мантажор відэа
            </div>
            <div class="position">
                Аператар
            </div>
            <div class="position">
                JS-распрацоўшчык
            </div>
            <div class="position">
                Web-дызайнер
            </div>
        </div>
        Пішыце нам у сацыяльныя сеткі!
    </div>
    <hr />
    <div class="team">
        <div class="title">
            Каманда
        </div>
        <div class="subteam">
            <div class="subteam-name">
                Аснова
            </div>
            <div class="columns subteam-members is-centered">
                <div class="column teammate is-2">
                    <img src="<%= imagesPath %>/team/badziej.jpg" />
                    <div class="name">
                        Марыя Бадзей
                    </div>
                    <div class="role">
                        Стваральніца, галоўная рэдактарка
                    </div>
                </div>
            </div>
        </div>
        <div class="subteam">
            <div class="subteam-name">
                Распрацоўка
            </div>
            <div class="columns subteam-members is-centered">
                <div class="column teammate is-2">
                    <img src="<%= imagesPath %>/team/drapegnik.jpg" />
                    <div class="name">
                        Іван Пажытных
                    </div>
                    <div class="role">
                        Full-stack developer
                    </div>
                </div>
                <div class="column teammate is-2">
                    <img src="<%= imagesPath %>/team/bohdan.jpg" />
                    <div class="name">
                        Уладзь Богдан
                    </div>
                    <div class="role">
                        Administration, backend, design
                    </div>
                </div>
                <div class="column teammate is-2">
                    <img src="<%= imagesPath %>/team/tonia.jpg" />
                    <div class="name">
                        Тоня Вярцінская
                    </div>
                    <div class="role">
                        Frontend, design
                    </div>
                </div>
                <div class="column teammate is-2">
                    <img src="<%= imagesPath %>/team/vika.jpg" />
                    <div class="name">
                        Вікторыя Дрозд
                    </div>
                    <div class="role">
                        Design
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="contact">
        Мы заўжды даступныя ў сацсетках, спасылкі ў футэры.
        <br />
        Звязацца з камандай распрацоўкі можна па адрасе: <a href="mailto:wir.development@gmail.com"><u>wir.development@gmail.com</u></a>
    </div>
</div>

<% include ../footer/footer.ejs %>
</body>
</html>
