<div class="main">
    <div class="main__wrap">
        <%- include('../cards/article.ejs', {
            "size": "xxl", "title": "Як прыгатаваць мову ВКЛ?",
            "author": "Марыя Бадзей, Марына Анісімава",
            "description": "Мноства баталій, якія з зайздроснай рэгулярнасцю разгараюцца вакол беларускай мовы, тычацца не толькі яе сучаснага стану. Мовазнаўцы і гісторыкі і па сёння не могуць пагадзіцца наконт таго, на якую мову Скарына пераклаў Біблію, што можна лічыць моваю беларускай і з якіх часоў варта адсочваць яе развіццё. Паспрабуем прыгледзецца да мовы Вялікага Княства Літоўскага"}
            ) %>

        <div class="diary">
            <h3 class="diary__title">
                <b class="diary__date">10 лістапада</b> 1956 Уладзімір караткевіч занатаваў у дзенніку</h3>
            <p class="diary__text">

                Test text text fkjs lkfjsd lkfsdj flsdk fjsdlkf jsdflksd jfsdlkf jdsflkdsjf sdlkf j
                <a href="" class="diary__link">Цалкам</a>
            </p>
            <img src="/images/mock/persons/vladimir_korotkevich.png" alt="" class="diary__image"/>
        </div>

        <div class="latest-articles">
            <%- include('../cards/video.ejs', {"size": "m"}) %>
            <%- include('../cards/collection.ejs', {"size": "m"}) %>
        </div>

        <div class="tags-by-topic">
            <h3 class="tags-by-topic__title">Усе персаналіі</h3>
            <div class="tags-by-topic__wrap">
                <%- include('../cards/person.ejs', {"size": "l", "title": "Дэвід Боўі"}) %>
                <div class="tags-by-topic__block">
                    <%- include('../cards/person.ejs', {"size": "s", "title": "Дэвід Боўі"}) %>
                    <%- include('../cards/person.ejs', {"size": "s", "title": "Дэвід Боўі", "years": "1947—2016"}) %>
                </div>
            </div>
        </div>

        <div class="articles-by-tag">
            <div class="articles-by-tag__head">
                <h3 class="articles-by-tag__title">Test</h3>
                <h3 class="articles-by-tag__title">Test</h3>
            </div>
            <div class="articles-by-tag__list">
                <%- include('../cards/person.ejs', {"size": "square-s", "title": "Дэвід Боўі", "years": "1947—2016"}) %>
                <%- include('../cards/person.ejs', {"size": "square-s", "title": "Дэвід Боўі", "years": "1947—2016"}) %>
                <%- include('../cards/person.ejs', {"size": "square-s", "title": "Дэвід Боўі", "years": "1947—2016"}) %>
            </div>
        </div>
    </div>
    <div class="popular-topic">
        <div class="popular-topic__descrition">
            <span class="popular-topic__block">
                Папулярная тема:
                <a href="" class="popular-topic__link">
                    міфалогія
                </a>
            </span>
            <div class="popular-topic__block">
                <a href="" class="popular-topic__link">Усе тэмы</a>
            </div>
        </div>
        <div class="popular-topic__content">
            <%- include('../cards/person.ejs', {"size": "square-m", "title": "Дэвід Боўі", "years": "1947—2016"}) %>
            <%- include('../cards/person.ejs', {"size": "square-m", "title": "Дэвід Боўі", "years": "1947—2016"}) %>
        </div>
    </div>

    <div class="main__wrap">
        <div class="horizontal-banner">

        </div>
        <div class="tags-by-topic">
            <h3 class="tags-by-topic__title">Усе персаналіі</h3>
            <div class="tags-by-topic__wrap">
                <div class="tags-by-topic__block">
                    <%- include('../cards/location.ejs', {"size": "s", "title": "Дэвід Боўі"}) %>
                    <%- include('../cards/location.ejs', {"size": "s", "title": "Дэвід Боўі"}) %>
                </div>
                <%- include('../cards/location.ejs', {"size": "l", "title": "Дэвід Боўі"}) %>

            </div>
        </div>
    </div>

    <div class="partner-material">

        <div class="partner-material__content">
            <%- include('../cards/person.ejs', {"size": "square-m", "title": "Дэвід Боўі", "years": "1947—2016"}) %>
            <%- include('../cards/person.ejs', {"size": "square-m", "title": "Дэвід Боўі", "years": "1947—2016"}) %>
        </div>
        <div class="partner-material__descrition">
            <span class="partner-material__block">
                Нацыянальны мастацкі музей
            </span>
            <div class="partner-material__block">
                <a href="" class="partner-material__link">Усе партнёрскія матэрыялы</a>
            </div>
        </div>
    </div>
</div>
