<div class="main">
  <div class="main__wrap">
    <%- include('../main/blocks/featured.ejs') %>
    <%- include('../main/blocks/diary.ejs') %>
    <%- include('../main/blocks/latest.ejs') %>
    <%- include('../main/blocks/tags-by-topic-1-2.ejs') %>
    <%- include('../main/blocks/article-by-tag.ejs') %>
    <%- include('../main/blocks/topic.ejs') %>
  </div>
  <div class="main__wrap">
    <div class="horizontal-banner">map</div>
    <%- include('../main/blocks/tags-by-topic-2-1.ejs') %>
    <%- include('../main/blocks/brand.ejs') %>
  </div>
</div>
