<!DOCTYPE html>
<html lang="en">
<% var title = 'Main Page' %>
<% include ../head/head.ejs %>
<body>
<% include ../navbar/navbar.ejs %>

<div class="main-page page-container">
    <div class="page-content">

        <!-- FIRST LINE -->

        <div class="first-line tile is-ancestor">

            <div class="tile is-parent">
                <article class="card tile is-child">
                    <div class="author-top"></div>
                    <span class="title">
                        <a href="../article-page/article-page.html">Крама "як з крамы"</a>
                    </span>
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="<%= imagesPath %>/photo2.jpg" />
                        </figure>
                    </div>
                    <p class="subtitle subtext">Новы альбом: як, дзе і для каго. Учора Крама прадставіла новы альбом, а мы вам пра яго распавядзем. Назва новага альбома - "Крама". Яго...</p>
                    <div class="author">
                      <img src="<%= imagesPath %>/vajc.jpg"/>
                      <div class="name">
                          <span>Змітр Корнеў</span>
                      </div>
                    </div>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="card tile is-child">
                    <div class="author-top"></div>
                    <span class="title">
                        <a href="../article-page/article-page.html">"Гэта ня тое як склеіць разьбіты кубак..."</a>
                    </span>
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="<%= imagesPath %>/photo3.jpg" />
                        </figure>
                    </div>
                    <p class="subtitle subtext">Вальжына Морт пра адносіны з сусветам</p>
                    <div class="author">
                    <img src="<%= imagesPath %>/mort.jpg"/>
                        <div class="name">
                            <span>Вальжына Морт</span>
                        </div>
                    </div>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="card tile is-child">
                    <div class="author-top"></div>
                    <span class="title">
                        <a href="../article-page/article-page.html">Некоратка аб Ахматавай</a>
                    </span>
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="<%= imagesPath %>/photo5.jpg" />
                        </figure>
                    </div>
                    <p class="subtitle subtext">"Настоящую нежность не спутаешь ни с чем..."</p>
                    <div class="author">
                        <img src="<%= imagesPath %>/mort.jpg"/>
                        <div class="name">
                            <span>Вальжына Морт</span>
                        </div>
                  </div>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="card tile is-child">
                    <div class="special">
                        <img class="special-image" src="<%= imagesPath %>/kurilka_icon.png" />
                        <div class=special-name>
                            <span>Курылка Гутэнберга</span>
                        </div>
                    </div>
                    <span class="title">
                        <a href="../article-page/article-page.html" class="special-title">Культура і псіхалогія</a>
                    </span>
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="<%= imagesPath %>/photo4.jpg" />
                        </figure>
                    </div>
                    <p class="subtitle subtext no-author">Выкладчык з ЕГУ распавядзе пра складаны лёс выкладчыка з ЕГУ. Хацеў бы ён выкладаць у БДУ замест таго!..</p>
                    <div class="special-bottom"></div>
                </article>
            </div>

        </div>

        <!--FIRST LINE END-->
        <!--SECOND LINE-->

        <div class="second-line tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">

                    <div class="tile is-parent">
                        <article class="card tile is-child">
                            <div class="special">
                                <img class="special-image" src="<%= imagesPath %>/kurilka_icon.png" />
                                <div class=special-name>
                                    <span>(не)расстраляная паэзія</span>
                                </div>
                            </div>
                            <span class="title">
                                <a href="../article-page/article-page.html" class="special-title">Ад біяграфія да творчасці: Алесь Дудар</a>
                            </span>
                            <div class="card-image">
                                <figure class="image is-3by2">
                                    <img src="<%= imagesPath %>/photo3.jpg" />
                                </figure>
                            </div>
                            <p class="subtitle subtext no-author">Лекцыі з Ганнай Севярынец</p>
                            <div class="special-bottom"></div>
                        </article>
                    </div>

                    <div class="tile is-parent">
                        <article class="card tile is-child">
                            <div class="author-top"></div>
                            <span class="title">
                                <a href="../article-page/article-page.html">Крама "як з крамы"</a>
                            </span>
                            <div class="card-image">
                                <figure class="image is-16by9">
                                    <img src="<%= imagesPath %>/photo2.jpg" />
                                </figure>
                            </div>
                            <p class="subtitle subtext">Новы альбом: як, дзе і для каго</p>
                            <div class="author">
                                <img src="<%= imagesPath %>/vajc.jpg"/>
                                <div class="name">
                                    <span>Змітр Корнеў</span>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>

                <div class="tile">

                    <div class="tile is-parent">
                        <article class="card tile is-child">
                            <div class="author-top"></div>
                            <span class="title">
                                <a href="../article-page/article-page.html">Eўрапейскі мадэрнізм</a>
                            </span>
                            <div class="card-image">
                                <figure class="image is-3by1">
                                    <img src="<%= imagesPath %>/photo6.jpg" />
                                </figure>
                            </div>
                            <p class="subtitle subtext">Наталля Ламека. Серыя лекцый</p>
                            <div class="author">
                                <img src="<%= imagesPath %>/vajc.jpg"/>
                                <div class="name">
                                    <span>Наталля Ламека</span>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="tile is-parent">
                        <article class="card tile is-child">
                            <div class="special">
                                <img class="special-image" src="<%= imagesPath %>/15_icon.png" />
                                <div class=special-name>
                                    <span>Мінск</span>
                                </div>
                            </div>
                            <span class="title">
                                <a href="../article-page/article-page.html" class="special-title">Культура і псіхалогія</a>
                            </span>
                            <div class="card-image">
                                <figure class="image is-3by2">
                                    <img src="<%= imagesPath %>/photo3.jpg" />
                                </figure>
                            </div>
                            <p class="subtitle subtext no-author">Выкладчык з ЕГУ распавядзе</p>
                            <div class="special-bottom"></div>
                        </article>
                    </div>

                </div>

            </div>

            <div class="tile is-vertical">
                <div class="diary-article tile is-parent">
                    <article class="card tile is-child notification">
                        <h1 class="title">Дзённік дня</h1>
                        <div class="date">
                            <span>27.10.2017</span>
                        </div>
                        <span class="icon is-small arrow arrow-left">
                            <i class="fa fa-chevron-left"></i>
                        </span>
                        <span class="icon is-small arrow arrow-right">
                            <i class="fa fa-chevron-right"></i>
                        </span>
                        <div class="content diary">
                            <%= diaryText %>
                        </div>
                        <p class="subtitle">Іосіф Бродскі</p>
                    </article>
                </div>
            </div>

        </div>

        <!--SECOND LINE END-->

        <!--HERE ANY ADDITIONAL LINES OF TILES MAY BE ADDED-->

        <div class="load-more" align="center">
          <a class="button">Загрузіць яшчэ!</a>
        </div>
    </div>
</div>

<% include ../footer/footer.ejs %>

</body>

</html>
