<!DOCTYPE html>
<html lang="en">
<% var title = 'Main Page' %>
<% include ../head/head.ejs %>
<body>
<% include ../navbar/navbar.ejs %>

<div class="main-page-container">
    <section class="section main-block">

        <!-- FIRST LINE -->

        <div class="first-line tile is-ancestor">

            <div class="primary-article tile is-parent is-5">
                <article class="card tile is-child">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="<%= imagesPath %>/photo2.jpg"/>
                        </figure>
                    </div>
                    <div class="card-content">
                        <span class="title is-spaced">
                            <a href="../article-page/article-page.html">
                                Крама "як з крамы"
                            </a>
                        </span>
                        <p class="subtitle">Новы альбом: як, дзе і для каго</p>
                        <p class="subtitle is-4">Змітр Корнеў</p>
                    </div>
                </article>
            </div>

            <div class="secondary-article tile is-parent">
                <article class="card tile is-child notification">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="<%= imagesPath %>/photo3.jpg"/>
                        </figure>
                    </div>
                    <div class="card-content">
                        <span class="title is-spaced">
                            <a href="../article-page/article-page.html">
                                "Гэта ня тое як склеіць разьбіты кубак..."
                            </a>
                        </span>
                        <p class="subtitle">Вальжына Морт пра адносіны з сусветам</p>
                    </div>
                </article>
            </div>

            <div class="secondary-article tile is-parent">
                <article class="card tile is-child notification">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="<%= imagesPath %>/photo5.jpg"/>
                        </figure>
                    </div>
                    <div class="card-content">
                        <span class="title is-spaced">
                            <a href="../article-page/article-page.html">
                                Некоратка аб Ахматавай
                            </a>
                        </span>
                        <p class="subtitle">"Настоящую нежность не спутаешь ни с чем..."</p>
                    </div>
                </article>
            </div>
        </div>

        <!--FIRST LINE END-->
        <!--SECOND LINE-->

        <div class="second-line tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="secondary-article tile is-parent">
                        <article class="card tile is-child notification">
                            <div class="card-image">
                                <figure class="image is-3by2">
                                    <img src="<%= imagesPath %>/photo3.jpg"/>
                                </figure>
                            </div>
                            <div class="card-content">
                                <span class="title is-spaced">
                                    <a href="../article-page/article-page.html">
                                        Ад біяграфія да творчасці: Алесь Дудар
                                    </a>
                                </span>
                                <p class="subtitle">Лекцыі з Ганнай Севярынец</p>
                            </div>
                        </article>
                    </div>

                    <div class="primary-article tile is-parent">
                        <article class="card tile is-child">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="<%= imagesPath %>/photo4.jpg"/>
                                </figure>
                            </div>
                            <div class="card-content">
                                <span class="title is-spaced">
                                    <a href="../article-page/article-page.html">
                                        Культура і псіхалогія
                                    </a>
                                </span>
                                <p class="subtitle">Выкладчык з ЕГУ распавядзе</p>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="primary-article tile is-parent">
                    <article class="card tile is-child">
                        <div class="card-content">
                            <span class="title is-spaced">
                                <a href="../article-page/article-page.html">
                                    Eўрапейскі мадэрнізм
                                </a>
                            </span>
                            <p class="subtitle">Наталля Ламека. Серыя лекцый</p>
                        </div>
                        <div class="card-image">
                            <figure class="image is-3by1">
                                <img src="<%= imagesPath %>/photo6.jpg"/>
                            </figure>
                        </div>
                    </article>
                </div>

            </div>

            <!--NEED TO TRUNCATE TEXT DEPENDING ON THE SCREEN SIZE AND MODE-->
            <div class="diary-article tile is-parent">
                <article class="tile is-child notification">
                    <h1 class="title">Дзённік дня</h1>
                    <div class="content diary">
                        <%= diaryText %>
                    </div>
                    <p class="subtitle">Іосіф Бродскі</p>
                </article>
            </div>

        </div>
    </section>
</div>

<% include ../footer/footer.ejs %>

</body>

</html>