<!DOCTYPE html>
<html lang="en">
<% var title = 'Login Page' %>
<% include ../head/head.ejs %>
<body>

<% include ../navbar/navbar.ejs %>

<div class="article-page page-container">

    <div class="page-content">
        <div class="card-image">
            <figure class="image is-3by1">
                <img src="<%= imagesPath %>/photo8.jpg"/>
            </figure>
        </div>

        <div class="card-content">
            <div class="heading">
                "Гэта ня тое як склеіць разьбіты кубак..."
            </div>

            <div class="author">
                <strong>Аўтар:</strong>
                <a href="">Яўген Дадуць</a>
            </div>

            <div class="tags">
                <a href="">#паэзія</a>
                <a href=""> #морт</a>
            </div>
            <hr/>

            <div class="text">
                <%= articleText %>
                <hr/>
            </div>
        </div>

        <div class="articles-links">
            <div class="more-articles-text">Чытайце таксама: </div>
            <div class="tile is-ancestor">

                <div class="tile is-parent">
                    <article class="card tile is-child">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <img src="<%= imagesPath %>/photo5.jpg"/>
                            </figure>
                        </div>
                        <div class="card-content">
                        <span class="title is-spaced">
                            <a href="../article-page/article-page.html">
                                Крама "як з крамы"
                            </a>
                        </span>
                            <p class="subtitle">Новы альбом: як, дзе і для каго</p>
                        </div>
                    </article>
                </div>

                <div class="tile is-parent">
                    <article class="card tile is-child">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <img src="<%= imagesPath %>/photo3.jpg"/>
                            </figure>
                        </div>
                        <div class="card-content">
                        <span class="title is-spaced">
                            <a href="../article-page/article-page.html">
                                "Гэта ня тое як склеіць разьбіты кубак..."
                            </a>
                        </span>
                            <p class="subtitle">Вальжына Морт пра адносіны з сусветам</p>
                        </div>
                    </article>
                </div>

                <div class="tile is-parent">
                    <article class="card tile is-child">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <img src="<%= imagesPath %>/photo5.jpg"/>
                            </figure>
                        </div>
                        <div class="card-content">
                        <span class="title is-spaced">
                            <a href="../article-page/article-page.html">
                                Некоратка аб Ахматавай
                            </a>
                        </span>
                            <p class="subtitle">"Настоящую нежность не спутаешь ни с чем..."</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../footer/footer.ejs %>

</body>
</html>